@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
h1,
h2,
h3 {
    font-family: "Shadows Into Light", cursive
}

nav {
    background-color: grey;
}

#content {
    960px margin: 0 auto;
}

#relax-rapids {
    background-color: #110D20;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    padding: 1em;
    display:flex;
    flex-flow:row;}

a {
    color: #183929;
    text-decoration: none;
}

h1,
h2,
h3 {
    color: #FFBA40;
}

.light-grey {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: lightgrey;
    padding: 1em;
    align-content: center;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    padding: 1em;
    line-height: 2em;
    margin-top: .3px;
}

h2 {
    margin-bottom: 1px;
}

#content {
    width: 960px;
    margin: 0 auto;
}

#closing {
    text-align: center;
    color: black;
    font-size:1.3em;
    padding: 2em;
    margin: 2em
}

p {
    line-height: 1.5;
}

section {
    padding: 15px
}


}
footer {
    background-color:
}
#banner {
    width: 100%
}

.rightcol{ 
width: 48%;
flex: 1 0 15em;
margin: .5em}

.leftcol
{
    width:48%;
    flex: 1 0 15em;
    margin: .5em
}
#section1 {
    display: flex;
    flex-flow: row wrap;
}

nav > ul {list-style-type:none;
display:flex;
justify-content: space-between;
    margin: 0;

}
nav li {
    flex:1 0 6em
}
nav {line-height:4.5em;
font-size: 1.2em;
margin-top: -4.9em;
padding-left:7em}
#logo {
    background-color: white;
    border-image: yellow;
    position: relative;
}