@import url('https://fonts.googleapis.com/css?family=Courgette');
* { 
box-sizing:border-box}
h1,
h2,
h3 {
    font-family: "Courgette", cursive;
    color: #FFBA40;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    background-color:#e3e8ef;
}

#content {
    960px margin: 0 auto;
}

#relax-rapids {
    background-color: #110D20;
}

a {
    color: #183929;
  font-weight: bold;
}

.light-grey {
    color: lightgrey;
}
    

h2 {
    margin-bottom: 1px;
}

#content {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

#closing {
    text-align: center;
    color: black;
    padding: 2em;
    margin: 2em
}

p {
    line-height: 1.5;
}

section {
    padding: 15px
}
footer {
    background-color: #FFBA40;
    display:flex;
    flex-flow: row wrap;
        justify-content: space-between;
    align-items: center;
    height: 55px;
}
#banner {
    width: 100%
}
.leftcol,
.rightcol {
    width: 48%;
    flex: 1 0 15em;
    margin: .5em
}
#section1, #relax-rapids {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

}
nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    flex-flow: row wrap
}
nav li {
    flex: 1 0 6em
}
nav {
    line-height: 4.5em;
    font-size: 1em;
    margin-top: -4.9em;
    padding-left: 6em;
    background-color: grey;
}
#logo {
    background-color: white;
    border: solid;
    border-color: #FFBA40;
    border-width: thick;
    position: relative;
    margin-right: 6px;
}
a:hover {
    background-color: #183929;
    color: #FFBA40;
}
nav a {
    padding: 1em .9em
}
img  {max-width: 100%}
#medialinks img {width:50px;
flex-flow:row wrap;}
#riverlinks {margin-bottom: 10em:}